* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
header {
    padding: 16px 0 15px;
    position: relative;   
}
.container {
    max-width: 1064px;
    margin: auto;
}
header .logo {
    position: absolute;
    left: calc(50% - 40px);
}
.d-flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    margin-right: 28px;
}
header nav ul li a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
.soc_icons {
    display: flex;
    list-style: none;
    column-gap: 30px;
}
.soc_icons li a{
    color: #000;
}
/* fall_deeper */
.fall_deeper {
    padding-top: 9px;
    padding-bottom: 24px;
    background-color: #F0EFEB;
    box-sizing: border-box;
}
.container_deeper {
    margin: auto;
    max-width: 1064px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.container_deeper .title {
    max-width: 534px;
}
.container_deeper h1 {
font-weight: 700;
font-size: 60px;
line-height: 70px;
color: #000000;
padding-bottom: 42px;
}
.container_deeper p {
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #000000;
padding-bottom: 33px;
}

.container_deeper a {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px 23px;
    text-decoration: none;
    color: #fff;
}
/* guides */
.guides {
    padding-top: 60px;
    padding-bottom: 248px;
}
.guides .container {
    max-width: 1088px;
    margin: auto;
    text-align: center;
}
.guides .title {
    max-width: 692px;
    margin: auto;
}
.guides .title  h2 {
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
margin-bottom: 27px;
}
.guides .title p {
    font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #000000;
margin-bottom: 47px;
}
.guides .title h6{
    font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #000000;
margin-bottom: 88px;
}
.guides  h3 {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
margin-bottom: 52px;
}
.sellers {
    max-width: 1064px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.sellers .owl-item{
    margin: auto;

}
.sellers .owl-dots{
    text-align: center;
}
.sellers .owl-dot span {
    display: inline-block;
    margin: auto;
    margin: 50px 5px;
    width: 20px;
    height: 20px;
    display: block;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid rgb(35, 152, 248);
}
.sellers .owl-dot.active span{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid yellow; 
    background-color: rgb(35, 152, 248);   
}
.sellers article {
    max-width: 309px;
    text-align: center;
}
.sellers article img{
    width: 100%;
    border-radius: 26px;
    margin-bottom: 27px;
}
.sellers article p{
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-align: center;
color: #000000;
margin-bottom: 17px;
}
.sellers article span {
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
color: #000000;
}
.sellers article a {
display: block;
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-decoration-line: underline;
color: #000000;
margin-top: 10px;
}
/* society */
.society {
    padding-top: 76px;
    padding-bottom: 51px;
    background-color: rgba(204, 204, 204, 0.3);
}
.society .french {
    width: 385px;
    margin-right: 50px;
}
.text_wrapper {
    display: block;
    margin: auto;
}
.text_wrapper h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px; 
    margin-bottom: 31px;
}
.text_wrapper p {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    width: 513px;
}
.text_wrapper a {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    border-bottom: #000;
    color: #000;
}
/* culture_and_ceritage */
.culture{
    padding-top: 76px;
    padding-bottom: 51px;
    background-color: rgba(204, 204, 204, 0.6);
}
.culture .text_wrapper {
    text-align: right;
}
.culture .french {
    margin-left: 50px;
}
/* features */
.features {
    padding-top: 190px;
    padding-bottom: 290px;
}
.features h4 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
margin-bottom: 69px;
}
.features .items_description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding-top: 55px; 
}
.features .items_description .item {
    width: 33%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.features .items_description .item::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 26px;
    background-color: #21F7EC;
}
.features .items_description .item:nth-child(2):before{
    background-color: #33D3BC;
}
.features .items_description .item:nth-child(3):before{
    background-color: #18A5C6;
}
.features .items_description:last-of-type .item:first-of-type:before{
    background-color: #D38F62;
}
.features .items_description:last-of-type .item:nth-child(2):before{
    background-color: #F94C43;
}
.features .items_description:last-of-type .item:nth-child(3):before{
    background-color: #D399FF;
}
.features h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}
#accordion {
    margin-bottom: 52px;
}
.ui-widget-content {
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background-color: transparent;
    color: #000;
}
.ui-icon {
    background-image: none;
    width: 50px;
    height: auto;
    text-indent: 0;
    overflow: auto;
}
.ui-icon:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f054";
    font-size: 45px;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon, .ui-state-active .ui-icon, .ui-button:active .ui-icon{
    background-image: none;
}
.ui-accordion .ui-accordion-header .ui-state-active {
    display: block;
}
.ui-state-active .ui-icon:before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f054";
    font-size: 45px;
}
.ui-state-active .ui-icon {
    transition: 0.3s;
    transform: rotate(90deg);
    display: inline-block;
}